{% extends "head.html" %}
{% block body %}
    <header class="navigation">
        <nav>
            <a href="/home" id="nav-home" class="nav-button">Home</a>
        </nav>
    </header>  
    <div id="content">
        {% block content %}{% endblock content %}
    </div>
    <footer>
    </footer>
    <script type="text/javascript">
        var url = window.location.pathname;
        switch(url) {
            case "/home":
                var home = document.getElementById("nav-home");
                home.classList.add("nav-button-active");
                break;
        }
    </script>
    {% block script %}{% endblock script %}
{% endblock body %}